/* FONTS */

@font-face {
  font-family: 'fonthatstic';
  /*a name to be used later*/
  src: url('font/fonthatstic.ttf');
  /*URL to font*/
}

/* GLOBAL STYLES */

:root {
  --font-primary: 'fonthatstic', sans-serif;
  --font-secondary: 'fonthatstic', serif;
  --font-code: 'fonthatstic', monospace;
  --bg-color: #00163f;
  --font-color: #ffffff;
  --btn-bg-color: #ffffff;
  --accent-color: #be7efe;
  --header-shadow: #000 0px 0px 5px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  width: 100%;
  background-color: var(--bg-color);
  flex-flow: column;
  height: 100vh;
  color: var(--font-color);
  font-family: var(--font-primary);
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

/* HEADER */

header {
  box-shadow: var(--header-shadow);
}

header .container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 2rem;
  align-items: center;
}

/* BUTTONS */

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--btn-bg-color);
  color: var(--accent-color);
  font-family: var(--font-secondary);
  font-style: italic;
  font-weight: bold;
  font-size: 1rem;
  transition: all 0.3s ease;
  box-shadow: 4px 4px 0 0 var(--accent-color);
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
}

.btn:hover {
  box-shadow: none;
}

.wallet-btn {
  border-radius: 5rem;
  margin-left: 2rem;
  border-color: transparent;
}

.hero-btn {
  border-radius: 4px;
  font-size: 1.2rem;
  padding: 1.5rem 3rem;
}

/* COUNTDOWN SECTION */

section {
  flex: 1 1 auto;
}

.countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.countdown ul {
  display: flex;
  gap: 1rem
}

.countdown .clock-item {
  list-style: none;
  width: 70px;
  height: auto;
}

.countdown .clock-item .count-number {
  background: var(--accent-color);
  color: var(--font-color);
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--font-secondary);
  padding: 1rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 4px 4px 0 0;
}

.countdown .clock-item .count-text {
  background: var(--btn-bg-color);
  font-family: var(--font-secondary);
  font-size: 1.1rem;
  color: var(--accent-color);
  padding: 0.5rem 0.7rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 0 0 4px 4px;
}

.countdown h1 {
  text-shadow: 2px 2px 0 var(--accent-color);
  font-style: italic;
  margin: 2rem 0;
  font-size: 3.5rem;
  text-align: center;
}

.countdown p {
  font-size: 1.1rem;
  font-family: var(--font-secondary);
  margin-bottom: 2rem;
  text-align: center;
}

/* OWNER STYLES */

.owner-status {
  font-size: 2rem;
  text-align: center;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  .menu {
    gap: 1rem;
  }

  .countdown h1 {
    font-size: 2rem;
  }

  .countdown p {
    font-size: 1rem;
  }
}

/* custom */
.topic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.topic h1 {
  text-shadow: 2px 2px 0 var(--accent-color);
  font-style: italic;
  margin: 2rem 0;
  font-size: 3.5rem;
  text-align: center;
}

.topic p {
  font-size: 1.4rem;
  font-family: var(--font-secondary);
  margin-bottom: 2rem;
  text-align: center;
}

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
  padding-bottom: 10px;

}

.col:first-child {
  margin-left: 0;
}

/*  GROUPING  */
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
  /* For IE 6/7 */
}

/*  GRID OF THREE  */
.span_3_of_3 {
  width: 100%;
}

.span_2_of_3 {
  width: 66.13%;
}

.span_1_of_3 {
  width: 32.26%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%;
  }

  .span_3_of_3, .span_2_of_3, .span_1_of_3 {
    width: 100%;
  }
}

.box_wrapper {
  width: 100%;
  border-radius: 4px;
  font-family: var(--font-secondary);
  font-size: 1rem;
  text-decoration: none;
  outline: none;
  color: var(--accent-color);
  accent-color: var(--accent-color);
  background-color: #ffffff;
  min-width: 200px;
}

@media only screen and (max-width: 600px) {
  .box_wrapper {
    height: 100%;
  }
}

@media only screen and (min-width: 601px) {
  .box_wrapper {
    height: 250px;
  }
}

.bullet_list {
  margin-left: 25px;
  font-size: 1.1rem;
  margin-top: 5px;
  font-weight: bold;
}

.list_title {
  text-align: center;
  font-weight: bold;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: var(--accent-color);
  color: var(--font-color);
  font-weight: bold;
  font-style: italic;
}

.topic_title {
  display: flex;
}

.snoozie_img {
  height: 96px;
  width: 96px;
}

.flip {
  /* transition: transform 0.1s;
  transform-style: preserve-3d; */
  transform: scaleX(-1);
}

.flip:hover {
  transform: scale3d(1.40, 1.40, 1.40);
}

.font_size_span {
  font-size: 25px;
}

@-webkit-keyframes rotating

/* Safari and Chrome */
  {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotating:hover {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  cursor: pointer;
  color: var(--font-color);
  text-align: left;
  font-size: bold;
  font-weight: bold;
  font-style: italic;
  font-family: var(--font-primary);
  font-size: 1.1rem;
  background-color: var(--accent-color);
  outline: none;
  border: none;
  width: 100%;
  padding: 18px;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #b367ff;
}

.accordion:after {
  content: '+';
  font-size: 20px;
  color: #ffffff !important;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "-";
  color: #ffffff;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 5px 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  width: 100%;
}

.faq_text {
  width: 100%;
  border-radius: 4px;
  font-family: var(--font-secondary);
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  outline: none;
  color: var(--accent-color);
  accent-color: var(--accent-color);
  background-color: #ffffff;
  text-align: left;
}

.last_btn {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.last_btn_no_radius {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.first_btn {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.join_discord {
  color: currentcolor;
  accent-color: var(--accent-color);
  font-weight: bold;
  font-family: var(--font-secondary);
  font-size: 1rem;
  font-style: italic;
}

.join_discord:hover {
  text-shadow: 0 0 black;
}